.Second{
    border-top-width: 1px;
    border-top-color: black;
    border-top-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    padding: 60px;
    gap: 20px;
    flex-direction: column;
    
}

.second-right{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    flex:1;
    margin-left: 30px;
}

.second-right-buttons button{
    font-family: Alibaba;
    margin: 15px;
    margin-left: 0px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
    border: 0px none;
    border-radius: 10px;
    color: gray;

    background-color: #fbfada85;
    box-shadow: 0px 0px 5px rgba(173, 188, 159, 0.777);
    transition: all 0.5s;
    cursor: pointer;
}

.second-right-buttons button.clicked{
    color: #fbfada;
    background-color: #436850;
}

.js-second-right-text{
    font-size: 20px;
}
.second-left{
    display: flex;
    background-color: chartreuse;
    flex: 1;
}