<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAFLD Prediction</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href = "static/styles/general.css">
    <link rel="stylesheet" href = "static/styles/first-part.css">
    <link rel="stylesheet" href = "static/styles/Prediction.css">
    <link rel="stylesheet" href = "static/styles/second.css">
    <link rel="stylesheet" href = "static/styles/header.css">
    


  
    <style>

    </style>
</head>

<body>
    <div class="header">
        <div class="header-left">
            <img class="header-logo" src="static/icon/logo.png" alt="Logo">
        </div>

        <div class="header-right">
            <a href="{{ url_for('home') }}"><p class="header-link">Home</p></a>
            <a href="{{ url_for('Prediction') }}"><p class="header-link">Prediciton</p></a>
           
            <p class="header-link">Formula</p>
            <p class="header-link">Contact Us</p>

            <button>Sign Up</button>
            <button style="
            margin-right: 60px;
            ">Login</button>
        </div>
    </div>

    <div class="first">
        <div class="first-left">
            
            <p class="first-left-title">Predicting MAFLD in T2DM Patients</p>
            <p class="first-left-text">Our innovative platform leverages machine learning to accurately predict the probability of Metabolic Associated Fatty Liver Disease (MAFLD) in patients with Type 2 Diabetes Mellitus (T2DM). By analyzing key lab test values, healthcare professionals can make more informed decisions, ultimately improving patient outcomes and streamlining the diagnostic process.</p>
            <p style=" margin-top: 15px; " class="first-left-text">Utilizing a comprehensive dataset, our model considers various patient-specific factors to provide a tailored risk assessment. This personalized approach helps in early detection and timely intervention, reducing the burden of MAFLD and enhancing patient care efficiency. Stay ahead with data-driven insights for better health management."</p>
            
            <div class="first-left-buttons">

                <button class="first-left-b">
                    See Features
                </button>
    
                <button class="first-left-b">
                    Contact Us
                </button>

            </div>

        </div>

        <div class="first-right">
            <div class="first-right-img">
                <img class="first-right-image" src="static/pics/pic1.jpg" alt="Example Image">
            </div>
        </div>
    </div>

    <div class="Second">
        <div class="second-left">
            Hi
        </div>
        <div class="second-right">
            Hello
        </div>
    
    </div>
</body>
</html>