.first {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 90px;
    padding: 60px;
    gap: 20px; /* Optional: Adds space between the columns */
}
.first-right {
    margin-left: 40px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex: 1;
}

.first-right-img {
    display: flex;
    margin-right: 0px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding: 0;
}
.first-right-image {
    width: 90%;
    margin-right: 0px;
    padding: 0;
}
.first-left {
    margin: 10px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
}
.first-left-title {
    font-weight: 800;
    font-size: 60px;
    margin-bottom: 20px;
    line-height: 70px;

}
.first-left-text {
    font-size: 30px;
    text-align: justify;
}

@media (max-width: 1000px) {
    .first-right {
        display: none;
    }
}

.first-left-buttons button{
    margin-top: 50px;
    margin-right: 40px;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 20px;
    padding-bottom: 15px;
    border: 0px none;
    border-radius: 10px;

    background-color: #fbfada85;
    box-shadow: 0px 0px 10px rgba(173, 188, 159, 0.777);
    transition: all 0.5s;
    cursor: pointer;
}

.first-left-b:hover {
color: #fbfada;
background-color: #436850;
}